<phpunit bootstrap="vendor/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Connection">
            <file>tests/ConnectionTest.php</file>
        </testsuite>
        <testsuite name="Query">
            <file>tests/QueryTest.php</file>
        </testsuite>
        <testsuite name="Compile">
            <file>tests/CompileTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>