<phpunit bootstrap="vendor/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Connection">
            <file>tests/ConnectionTest.php</file>
        </testsuite>
        <testsuite name="Queries">
            <file>tests/QueryMySQLTest.php</file>
            <file>tests/QueryPostgresTest.php</file>
            <file>tests/QuerySQLiteTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>